champsim_root = ../ChampSim/

#=============Parameters for building multiple champsim binaries ============#
#Path to the configuration files
configs_path = ../ChampSim/autochamp_config/configurations/
build_list = ../ChampSim/autochamp_config/build_list.txt

#============================================================================#

#=================# Parameters for autogenerating job file #=================#
#job limit - maximum number of operating jobs
job_limit = 100
#maximum hours the job is permitted to run
limit_hours = 48
#number of tasks per node
ntasks = 1
#queue/partition to submit jobs to (e.g. normal, development, gpu)
partition = normal
#account to charge for job
account = CCR26004
#email (optional)
mail = <your_email@utexas.edu>
#TACC username (required for squeue job load checks)
username = <your_username>
#number of cores for the job
num_cores = 1

#Name of the temporary job file. The file is deleted after launch
launch_file = ../../{Project_Name}/job_files/autochamp
#============================================================================#

#==================# Parameters for running multiple sims #==================#
HPRC = 1
enable_json_output = 1 
warmup = 50000000
sim_inst = 200000000

binaries_path = ../ChampSim/bin/
results_path = ../../{Project_Name}/results/
workload_path = ../../{Project_Name}/traces/

binary_list = ../ChampSim/autochamp_config/binary_list.txt
workload_list = ../ChampSim/autochamp_config/cvp_subset.txt

launch_template = ../ChampSim/autochamp/champc_lib/launch_template.txt
#============================================================================#

#==================# Parameters for collecting statistics #==================#
baseline = champsim_none
results_collect_path = ../../{Project_Name}/results/
stats_list = ../ChampSim/autochamp_config/to_collect.txt
#============================================================================#
